*{
    margin: 0;
    padding: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgb(17, 16, 16);
}

.logo img {
  width: 50px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

.navbar a:hover {
  color: red;
}

.container{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  background-color: rgb(45, 45, 44);
  color: aliceblue;
 
}
.movie-card .img{

  width: 200px;
  height: 300px;
  object-fit: cover;
 
}
.About{
text-align: center;
background-color: rgb(13, 4, 70);
color: aliceblue;
}

body {
  background: #222c45;
  font-family: Arial, sans-serif;
}

.contact {
  width: 300px;
  margin: 100px auto;
}

.contact input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #465c79;
  border-radius: 6px;
  background: transparent;
  color: white;
  outline: none;
}

.contact input:focus {
  border-color: #38bdf8;
}